header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    /* Add image and edit the property of image and not repeat */
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    /* to move 20px when the image are in right he move left 20px */
    background-position: 20px;
}
