/* Reference to all(*) */
* {
    padding: 0;
    margin: 0;
}

/* Add referece for all in the body */
body {
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
